
.root{
    -fx-background-color: #15171b ;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-pref-width: 1024px;
}

.bordered{
    -fx-border-style: dashed;
    -fx-border-color: white;
    -fx-border-width: 2px;
}